#circle{

    height: 100px;
    width: 100px;
    border-radius: 80%;
    background-color: yellow;
    margin: 50px;

}

.square{

    height: 100px;
    width: 100px;
    background-color: rgb(65, 33, 168);
    margin: 20px;

}